* {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

ul, dl, ol {
  list-style: none; }

img, fieldset, input[type="submit"] {
  display: block;
  border: 0 none; }

em {
  font-style: normal; }

strong {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"] {
  cursor: pointer;
  border: 0 none; }

a, button, input, img {
  -webkit-touch-callout: none; }

img {
  pointer-events: none; }

input, select, textarea {
  outline: none; }

a {
  text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  outline: 0;
  -webkit-text-size-adjust: none; }

body {
  margin: 0; }

.swiper-container {
  width: 100vmin;
  height: 100vh; }
  .swiper-container .swiper-slide {
    font-size: 0.26667rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center; }
  .swiper-container .page1 {
    position: relative;
    background: skyblue; }
    .swiper-container .page1 .pic_box1 {
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      background: #fff;
      left: 0.4rem;
      top: 0.32rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .swiper-container .page1 .pic_box2 {
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      background: #fff;
      left: 0;
      top: 0.89333rem;
      display: flex;
      justify-content: center;
      align-items: center; }
  .swiper-container .page2 {
    position: relative;
    background: greenyellow; }
  .swiper-container .page3 {
    position: relative;
    background: yellowgreen; }

@media screen and (orientation: landscape) {
  .swiper-container {
    height: 100vh;
    width: 50vh; } }

.baseHeight {
  height: 100vh;
  width: 50vh; }
