@charset 'utf-8';

@import 'reset.scss';

.swiper-container {
    width: 100vmin;
    height: 100vh;
    margin: 0 auto;
    .swiper-slide{
        font-size: r(100px);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page1{
        position: relative;
        background: skyblue;
        .pic_box1{
            position: absolute;
            width: r(225px);
            height: r(225px);
            background: #fff;
            right: 0;
            top: r(120px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pic_box2{
            position: absolute;
            width: r(225px);
            height: r(225px);
            background: #fff;
            left: 0;
            top: r(335px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .page2{
        position: relative;
        background: greenyellow;
        
        
    }
    .page3{
        position: relative;
        background: yellowgreen;
    }
}
@media screen and (orientation:portrait) {
    // css[竖向定义样式]
    
}
@media screen and (orientation:landscape) {
     // css[横向定义样式]
    .swiper-container{
        height: 100vh;
        width: 50vh;
        margin: 0 auto;
    }
    
}

//兼容class
.baseHeight{
    height: 100vh;
    width: 50vh;
    margin: 0 auto;
}
