@charset 'utf-8';

@import 'reset.scss';

.swiper-container {
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100vmin;
    height: 100vh;
    margin: 0 auto;
    .swiper-slide{
        font-size: r(100px);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page1{
        position: relative;
        background: transparent;
        .o_box1{
            position: absolute;
            width: r(225px);
            height: r(225px);
            background: skyblue;
            right: 0;
            top: 50%;
            margin-top: r(-220px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .o_box2{
            position: absolute;
            width: r(225px);
            height: r(225px);
            background: skyblue;
            left: 0;
            bottom: 50%;
            margin-bottom: r(-220px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .page2{
        position: relative;
        background: transparent;
        .t_box1{
            width: r(300px);
            height: r(536px);
            margin: 0 auto;
            border: r(10px) solid;
            border-image: -webkit-linear-gradient(#5c5fa5,#893f60) 30 30;
            border-image: -moz-linear-gradient(#5c5fa5,#893f60) 30 30;
            border-image: linear-gradient(#fff,#fff),linear-gradient(#5c5fa5,#893f60);
        }
        
    }
    .page3{
        position: relative;
        background: transparent;
    }
}
@media screen and (orientation:portrait) {
    // css[竖向定义样式]
    
}
@media screen and (orientation:landscape) {
     // css[横向定义样式]
    .swiper-container{
        height: 100vh;
        width: 50vh;
        margin: 0 auto;
    }
    
}

//兼容class
.baseHeight{
    height: 100vh;
    width: 50vh;
    margin: 0 auto;
}
